<div class="editor-container">

  <h2 class="page-title">
    New Analysis
  </h2>

  <div class="toolbar">

    <select>
      <option>C#</option>
      <option>TypeScript</option>
      <option>SQL</option>
    </select>

    <button
      class="upload-btn"
      (click)="fileInput.click()">
      Upload File
    </button>

    <input
      #fileInput
      type="file"
      accept=".cs,.ts,.sql,.txt"
      hidden
      (change)="onFileSelected($event)">

    <button
      class="analyze-btn"
      (click)="analyzeCode()">
      Analyze Code
    </button>

  </div>

  <textarea
  class="code-editor"
  [(ngModel)]="code">
</textarea>

</div>